body {
    background-color: #0000ff;
}

header {
    display: flex;
    margin: 5px;
    padding: 10px;
    justify-content: center;
}
label {
    display: flex;
    margin: 5px;
    padding: 10px;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    max-width:100px;
}

input:focus {
    background: #eaeaea;
}
textarea:focus {
    background: #eaeaea;
}
.error{
	border: 2px solid red;
}
#event{
	border-radius:10px;
	border-color:black;
	background-color:blue;
	text-align:center;
	color:white;
}
#links{
	border: 1px solid black;
	margin: 30px 30px;
	background: #00e6ff;
	margin-top:15px;
	margin-bottom:15px;
	padding:30px;
	padding-left: 60px;
}

#forma{
	border: 1px solid black;
	margin: 30px 30px;
	background: #00e6ff;
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 30px;
	padding-left: 60px;
	font-weight: bold;
}

